<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rdfrowser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>get-resources</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.GetResourcesCommand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>count-resources</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.CountResourcesCommand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>compute-facets</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.ComputeFactesCommand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>refocus</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.RefocusCommand</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>get-resources</servlet-name>
  	<url-pattern>/get-resources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>count-resources</servlet-name>
  	<url-pattern>/count-resources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>compute-facets</servlet-name>
  	<url-pattern>/compute-facets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>refocus</servlet-name>
  	<url-pattern>/refocus</url-pattern>
  </servlet-mapping>
</web-app>