<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rdf-browser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>get-resources</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.GetResourcesCommand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get-observation-detail</servlet-name>
  	<servlet-class>org.deri.rdf.qb.browse.commands.GetObservationDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>count-resources</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.CountResourcesCommand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>compute-facets</servlet-name>
  	<servlet-class>org.deri.rdf.browser.commands.ComputeFactesCommand</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>start-browsing</servlet-name>
  	<servlet-class>org.deri.rdf.qb.browse.EndpointVetter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get-config</servlet-name>
  	<servlet-class>org.deri.rdf.qb.browse.Configuration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>get-facets</servlet-name>
  	<servlet-class>org.deri.rdf.qb.browse.Facets</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>export-rdf</servlet-name>
      <servlet-class>org.deri.rdf.browser.commands.ExportRdfCommand</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>export-json</servlet-name>
      <servlet-class>org.deri.rdf.browser.commands.ExportJsonLdCommand</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>dereference</servlet-name>
      <servlet-class>org.deri.rdf.browser.commands.DereferenceUriCommand</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>get-resources</servlet-name>
  	<url-pattern>/get-resources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>get-observation-detail</servlet-name>
  	<url-pattern>/get-observation-detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>count-resources</servlet-name>
  	<url-pattern>/count-resources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>compute-facets</servlet-name>
  	<url-pattern>/compute-facets</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>start-browsing</servlet-name>
  	<url-pattern>/qb-browse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>get-config</servlet-name>
  	<url-pattern>/get-config</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>get-facets</servlet-name>
  	<url-pattern>/get-facets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>export-rdf</servlet-name>
      <url-pattern>/export-rdf</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
      <servlet-name>export-json</servlet-name>
      <url-pattern>/export-json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>dereference</servlet-name>
      <url-pattern>/dereference</url-pattern>
  </servlet-mapping>
  
</web-app>