
#left-panel, #left-panel-header {
  position: fixed;
  overflow: auto;
  padding: 0 7px 0 0;
  font-size: 1.3em;
  }
#left-panel-header {
	width:300px;
}
#right-panel-header {
	left:300px;
	position:fixed;
	}
#header{
	padding-bottom:0.5em;
	}
  
#left-panel  .ui-tabs .ui-tabs-panel {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0;
  }

#right-panel {
  position: fixed;
  overflow: auto;
  padding: 0px;
  }


#project-title {
  left: 140px;
  height: 40px;
  padding: 4px 0 0 0;
  font-size: 1.6em;
  position:absolute;
  top:0;
  }
  
#summary-bar {
  position: relative;
  height:32px;
  }

#summary-bar-container{
	font-size:120%;
	}
.viewpanel-pagesize{
  left:280px;
  top:0px;
  position:absolute;
  font-weight:normal;
}
.viewpanel-paging{
  right:10px;
  top:0px;
  position:absolute;
  font-weight:normal;
}

.big-title{
	font-size:2em;
	font-weight:bold;
	color:#1111CC;
	}